src/logs/sistema.log
todo.md
src/__pycache__/
src/controllers/__pycache__/
src/logs/__pycache__/
src/models/__pycache__/
src/services/__pycache__/
src/docs/00-Prompt-for-ProjectAnalysis.md
php_error.log
vendor/