SCR/__pycache__/
SCR/logs/sistema.log
SCR/logs/__pycache__
SCR/config/__pycache__/
DataMaq_main.bat
DataMaq_dev.bat
DOCS/00-Prompt-for-ProjectAnalysis.md
src/__pycache__/
src/config/__pycache__/
src/logs/sistema.log
src/logs/__pycache__/
DataMaq.bat
