<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Visión por Computadora</title>
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
	<script src="../../src/infrastructure/bootstrap.bundle.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="header-container"></div>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height:100vh;">
        <div id="resolution-info" class="mb-3"></div>
        <div class="row w-100">
            <div class="stream-container col-12 mb-4 d-flex flex-column align-items-center">
                <img
                    id="stream-img"
                    src="http://127.0.0.1:5000/stream.mjpg"
                    alt="Stream MJPEG"
                    class="img-fluid"
                    style="border:1px solid #333; max-height: 80vh; object-fit: contain;"
                />
            </div>
        </div>
    </div>
    <script src="../../src/infrastructure/bootstrap.bundle.min.js"></script>
    <script type="module">
        import { loadHeader } from '../../src/adapters/headerLoader.js';
        loadHeader('header.html');
    </script>
    <style>
        @media (min-width: 992px) {
            #stream-img {
                max-height: 80vh !important;
            }
        }
    </style>
</body>
</html>
